{% extends 'base.html.twig' %}
{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container" id="game">
            <h1>Игра электрик</h1>
            <p>
                Цель​ игры: сделать​ так,​ чтобы​ все​ лампочки​ горели​ одновременно​ за​ минимальное​ число​ ходов.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" id="new-game" role="button">Новая игра</a>
                <a class="btn btn-primary btn-lg" href="#" id="save-game" role="button">Сохранить</a>
                <a class="btn btn-primary btn-lg" href="#" id="best-results" role="button" data-toggle="modal" data-target="#best-results-modal">Лучший результат</a>
            </p>
            <div class="square" id="square"></div><div class="clear"></div>

            <div class="clicks-count" id="clicks-count">10</div><div class="clear"></div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="best-results-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Лучший результат игроков</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="best-results-body">
                    <table class="table" id="best-results-table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Имя</th>
                            <th scope="col">Кол-во ходов</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="form-win-modal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Вы выиграли</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" id="form-winner-body">
                    <div id="winner-result-text"></div>

                    <form>
                        <div class="form-group">
                            <label for="winner-name">Ваше имя</label>
                            <input type="text" class="form-control" id="winner-name" placeholder="Ваше имя">
                        </div>
                        <button type="submit" class="btn btn-primary" id="winner-save-result">Сохранить результат</button>
                    </form>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                </div>

            </div>
        </div>
    </div>

{% endblock %}